// Colors Variables Settings Stylesheet
// ========================================

$green: #81C14B;
$purple: #8E518D;
$blue: #204E4B;
$blue2: #299998;
$light-grey: #F7F7F7;
$black: #000000;
$white: #FFFFFF;

$colors: (
  'green': ( green ),
  'purple': ( purple ),
  'blue': ( blue ),
  'blue2': ( blue2 ),
  'light-grey': ( light-grey ),
  'black': ( black ),
  'white': ( white ),
);
