body {
  background-color: $white;
}

.hero {
  width: 90%;
  padding: 50px 5%;
  background: $blue2;
  background: -moz-linear-gradient(top, $blue2 0%, $green 100%);
  background: -webkit-linear-gradient(top, $blue2 0%,$green 100%);
  background: linear-gradient(to bottom, $blue2 0%,$green 100%);
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  max-height: 500px;
  margin: 50px auto auto auto;

  @include media($medium) {
    max-height: 400px;
  }
}

#hero-about {
  background:url("../img/about_bg.jpg") no-repeat center bottom;
  background-size: cover;
  min-height: 400px;

  @include media($medium) {
    background:url("../img/about_bg2.jpg") no-repeat center center;
    background-size: cover;
  }
}

.h1__hero {
  text-align: center;
}

.h3__hero {
  color: $white;
  text-align: center;
  padding-top: $spacer-s;
  padding-bottom: $spacer-s;
}

.h4__home {
  text-align: center;
  padding-top: $spacer-lg;
}

.main {
  padding: $spacer-lg;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  z-index: 1;
}

.item-container {
  margin: $spacer-m $reset-0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @include media($medium) {
    flex-direction: row;
  }
}

.header {
  padding: 10px 25px;
  background-color: $light-grey;
}

.stick {
  margin-top: 0 !important;
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
}

.nav {
  max-width: 1000px;
  padding-right: $spacer-xlg;

  @include media($medium) {
      display: grid;
	    grid-template-columns: 100px auto 275px;
  }

  ul {
    margin: 0;
  }

  &__logo {
    width: 75px;
  }

  &__button {
    width: 40px;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: none;
  background-color: $light-grey;
  transition: 2s display ease-in-out;
  text-align: center;
  padding-right: $spacer-xxl;

  @include media($medium) {
    display: inline;
    margin-right: 0;
    margin-left: auto;
  }

  &--active {
    background-color: $light-grey;
    display: block;
    transition: 2s display ease-in-out;
    position: absolute;
    left: 0;
    right: 0;

    li {
      padding: 20px 0;
      &:first-child{
        padding-top: $spacer-xlg;
      }
      &:last-child{
        padding-bottom: $spacer-xlg;
      }

      a {
        font-size: 30px;
      }
    }
  }

  &--item {
      @include media($medium) {
        display: inline-block;
        padding-top: 3%;

        &:not(:first-child) {
          margin-left: 5%;
        }
    }
  }

  &-button {
    border-radius: 2px;
    cursor: pointer;

    @include media($medium) {
      display: none;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  &-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .button--primary, .button--secondary, .button--secondary:hover {
    width: 100px;
    margin: 0 15px 0 0;
    display: inline-block;
  }
}

#modalBtn {
  @include font-type($secondary-font, normal, 300);
  font-size: 30px;
  color: $purple;
  text-transform: uppercase;
  text-decoration: none;

  @include media($medium) {
    font-size: 14px;
  }

  &:hover {
    color: $green;
  }
}

span.line {
  display: inline-block;
}

.button-icon {
  display: inline-block;
  fill: currentColor;
  width: 1.3em;
  height: 1.3em;
  vertical-align: -.15em;
  color: $white;
}

.appbenefits {
  width: 110%;
  max-width: 450px;
  display: block;
  margin: $spacer-m auto;

  @include media($medium) {
    margin: $spacer-m auto;
    max-width: 450px;
    width: 100%;
  }
}

.benefits {
    margin-top: 500px;
}

.main__steps {
  flex: 3;
}

.main__testimonials {
  flex: 3;

  @include media($medium) {
    margin-left: 7%;
  }

  &-single {
    margin: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 2px $light-grey inset;
    -moz-box-shadow: 0px 0px 0px 2px $light-grey inset;
    -webkit-box-shadow: 0px 0px 0px 2px $light-grey inset;
    padding: $spacer-xlg;
    max-width: 450px;
    margin-top: $spacer-lg;
  }
}

#testimonial-traveler {
  background-image: url('../img/testimonial_brad.jpg');
  background-size: cover;
}

#testimonial-student {
  background-image: url('../img/testimonial_ashley.jpg');
  background-size: cover;
}

.main__contactinfo {
  flex: 2;
}

.main__contactform {
  flex: 5;

  @include media($medium) {
    margin-left: 30px;
    margin-top: 0px;
  }
}

#form {
  margin-top: 50px;

  @include media($medium) {
    margin-top: 0px;
  }
}

.button {
  margin-top: $spacer-m;
  display: block;
}

.footer {
  background-color: $blue;
  text-align: center;
  bottom: 0px;
  height: 400px;

  @include media($medium) {
    height: 350px;
  }

  & p {
    color: $white;
  }

  & .button {
    @include media($medium) {
      display: inline-block;
      margin: 0 10px;
    }
  }
}

.footer-icons {
  display: inline-block;
  fill: currentColor;
  color: $green;
  max-width: 450px;
  padding: $spacer-xlg;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.social-icon {
  flex: 1;
  width: 3em;
  height: 3em;
}
