// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  background-color: $white;
}

.header {
  width: 90%;
  padding: 50px 5%;
  background: #339f8f; /* Old browsers */
  background: -moz-linear-gradient(top, #339f8f 0%, #81c249 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #339f8f 0%,#81c249 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #339f8f 0%,#81c249 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  max-height: 500px;
  margin: auto;

  @include media($medium) {
    max-height: 400px;
  }
}

#header-about {
  background:url("../images/about_bg.jpg") no-repeat center bottom;
  background-size: cover;
  min-height: 400px;

  @include media($medium) {
    background:url("../images/about_bg2.jpg") no-repeat center center;
    background-size: cover;
  }
}

.h1__home {
  text-align: center;
}

.h3__home {
  color: #FFFFFF;
  text-align: center;
  padding-top: $spacer-s;
  padding-bottom: $spacer-s;
}

.h4__home {
  text-align: center;
  padding-top: $spacer-lg;
}

.main {
  padding: $spacer-lg;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
}

.item-container {
  margin: $spacer-m $reset-0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @include media($medium) {
    flex-direction: row;
  }
}

/******************    HEADER    ******************/

.nav {
  background-color: #f8f8f8;
  padding: 5px;
  text-align: center;
  position: static;

  // & ul {
  //   margin-left: 0;
  //   list-style-type: none;
  //   padding-top: 10px;
  //   padding-bottom: 10px;
  //
  //   & li {
  //     display: inline;
  //     padding-left: 3%;
  //     padding-right: 3%;
  //     text-transform: uppercase;
  //
  //     & a {
  //       text-decoration: none;
  //     }
  //   }
  // }

  @include media($medium) {
    display: flex;
    justify-content: space-between;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 3;

  @include media($medium) {
    width: auto;
  }
}

.menu {
  list-style: none;
  display: none;
  background-color: #f8f8f8;
  transition: 2s display ease-in-out;
  text-align: center;

  @include media($medium) {
    display: flex;
    align-items: center;
    flex: 2;
  }

  &--active {
    display: block;
    transition: 2s display ease-in-out;
    position: absolute;
    left: 0;
    right: 0;
  }

  &--item {
    padding: 25px 0px;

    @include media($medium) {
    display: inline-block;

      &:not(:first-child) {
        margin-left: 35px;
      }
    }
  }

  &-button {
    padding: 10px 20px;
    background-color: green;
    border-radius: 2px;
    color: white;
    cursor: pointer;

    @include media($medium) {
      display: none;
    }
  }
}

/******************    HOMEPAGE    ******************/
span.line {
  display: inline-block;
}

.button-icon {
  display: inline-block;
  fill: currentColor;
  width: 1.3em;
  height: 1.3em;
  vertical-align: -.15em;
  color: $white;
}

.appbenefits {
  width: 110%;
  max-width: 450px;
  display: block;
  margin: $spacer-m -25%;

  @include media($medium) {
    margin: $spacer-m auto;
    max-width: 450px;
    width: 100%;
  }
}

/******************    ABOUT    ******************/
.main__steps {
  flex: 3;
}

.main__testimonials {
  flex: 3;

  @include media($medium) {
    margin-left: 7%;
  }

  &-single {
    margin: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 2px $light-grey inset;
    -moz-box-shadow: 0px 0px 0px 2px $light-grey inset;
    -webkit-box-shadow: 0px 0px 0px 2px $light-grey inset;
    padding: $spacer-xlg;
    max-width: 450px;
    margin-top: $spacer-lg;
  }
}

#testimonial-traveler {
  background-image: url('../images/testimonial_brad.jpg');
  background-size: cover;
}

#testimonial-student {
  background-image: url('../images/testimonial_ashley.jpg');
  background-size: cover;
}

/******************    CONTACT    ******************/
.main__contactinfo {
  flex: 2;
}

.main__contactform {
  flex: 5;

  @include media($medium) {
    margin-left: 30px;
    margin-top: 0px;
  }
}

#form {
  margin-top: 50px;

  @include media($medium) {
    margin-top: 0px;
  }
}

.button {
  margin-top: $spacer-m;
  display: block;
}


/******************    FOOTER    ******************/
.footer {
  background-color: $blue;
  text-align: center;
  bottom: 0px;
  height: 400px;

  @include media($medium) {
    height: 350px;
  }

  & p {
    color: $white;
  }

  & .button {
    @include media($medium) {
      display: inline-block;
      margin: 0 10px;
    }
  }
}

.footer-icons {
  display: inline-block;
  fill: currentColor;
  color: $green;
  max-width: 450px;
  padding: $spacer-xlg;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.social-icon {
  flex: 1;
  width: 3em;
  height: 3em;
}
