// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  background-color: $white;
}

.header {
  width: 90%;
  padding: 50px 5%;
  background: #339f8f; /* Old browsers */
  background: -moz-linear-gradient(top, #339f8f 0%, #81c249 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #339f8f 0%,#81c249 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #339f8f 0%,#81c249 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: flex;
  flex: 1 auto;
  flex-direction: column;
}

.h1__home {
  text-align: center;
}

.h3__home {
  color: #FFFFFF;
  text-align: center;
  padding-top: $spacer-s;
  padding-bottom: $spacer-s;
}

.h4__home {
  text-align: center;
  padding-top: $spacer-lg;
}

nav {
	background-color: #f8f8f8;
	padding: 5px;
  text-align: center;
  position: static;
  width: 100%;

  & ul {
    margin-left: 0;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;

    & li {
      display: inline;
    	padding-left: 3%;
      padding-right: 3%;
    	text-transform: uppercase;

      & a {
        text-decoration: none;
      }
    }
  }
}

.main {
  padding: $spacer-xlg;
  margin: 0 auto;
  max-width: 1250px;
  min-height: 100vh;
}

.item-container {
  margin: $spacer-m $reset-0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @include media($medium) {
    flex-direction: row;
  }
}

/******************    PRIMARY / SECONDARY COLORS    ******************/
.primary-colors {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;

  @include media($medium) {
    flex-direction: row;
  }
}

.primary-color {
  margin-bottom: 15px;
  margin-right: 20px;
  color: $white;
  width: 100%;
  flex-grow: 1;
  margin: 0 20px 15px 0;

  &__chip {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @include media($large) {
    width: 25%;
  }
}

/******************    NOTIFICATION COLORS    ******************/
.notification-colors {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;

  @include media($medium) {
    flex-direction: row;
  }
}

.notification-color {
  flex-grow: 1;
  width: 100%;
  margin: 0 20px 15px 0;
}

.background--success-green {
  height: 200px;
}

.background--error-red {
  height: 200px;
}

/******************    ACCENT COLORS    ******************/
.accent-colors {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;

  @include media($medium) {
    flex-direction: row;
  }
}

.accent-color {
  flex-grow: 1;
  width: 100%;
  margin: 0 20px 15px 0;
}

.color-info {
  padding: $spacer-m;
  color: $dark-grey;
  background: $chip-grey;
  min-height: 20px;
  font-family: $secondary-font;
  font-size: 15px;
}

/******************    HOMEPAGE    ******************/
span.line {
  display: inline-block;
}

.button-icon {
  display: inline-block;
  fill: currentColor;
  width: 1.3em;
  height: 1.3em;
  vertical-align: -.15em;
  color: $white;
}

.appbenefits {
  width: 110%;
  max-width: 450px;
  display: block;
  margin: $spacer-m -25%;

  @include media($medium) {
    margin: $spacer-m auto;
    max-width: 450px;
    width: 100%;
  }
}

/******************    ABOUT    ******************/
.main__steps {
  flex: 3;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
}

.main__testimonials {
  flex: 3;

  @include media($medium) {
    margin-left: 7%;
  }

  &-single {
    margin: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 2px $light-grey inset;
    -moz-box-shadow: 0px 0px 0px 2px $light-grey inset;
    -webkit-box-shadow: 0px 0px 0px 2px $light-grey inset;
    padding: $spacer-xlg;
    max-width: 450px;
    margin-top: $spacer-lg;
  }
}

#testimonial-traveler {
  background-image: url('../images/testimonial_brad.jpg');
  background-size: cover;
}

#testimonial-student {
  background-image: url('../images/testimonial_ashley.jpg');
  background-size: cover;
}

/******************    FOOTER    ******************/
.footer {
  background-color: $blue;
  text-align: center;
  bottom: 0px;
  height: 400px;

  @include media($medium) {
    height: 350px;
  }

  & p {
    color: $white;
  }

  & .button {
    @include media($medium) {
      display: inline-block;
      margin: 0 10px;
    }
  }
}

.footer-icons {
  display: inline-block;
  fill: currentColor;
  color: $green;
  max-width: 450px;
  padding: $spacer-xlg;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.social-icon {
  flex: 1;
  width: 3em;
  height: 3em;
}
