// Alert Mixin Settings Stylesheet
// ========================================

@mixin alert($background-value, $color-value) {
  background-color: $background-value;
  color: $color-value;
  border-radius: 3px;
  padding: $spacer-m;
  margin-top: 15px;
  font-family: $secondary-font;
  font-weight: 400;
}
